<div class="row">
    <div class="jumbotron text-center">
        <div class="overlay">
            <div class="background-image"></div>
            <div class="caption">
                <h1>Mongo Scraper</h1>
                <p>Democracy Now Edition</p>
            </div>
        </div>
    </div>
</div>

<div id="articles">
    {{#each articles}}
    <div class="row">
        <div class="col col-md-10">
            <div class="card-panel">
                <h4><a href="https://www.democracynow.org/{{link}}">{{title}}</a><h4>
                <form class = "form in-line" action = "/saved/{{_id}}" method="POST">
                    <button data-id={{_id}} type="submit" class= "btn btn-success">Save Article</button>
                </form>
            </div>
        </div>
    </div>
    {{/each}}
</div>


