<div class="row">
    <div class="jumbotron text-center">
        <div class="overlay">
            <div class="background-image"></div>
            <div class="caption">
                <h1>Mongo Scraper</h1>
                <p>Democracy Now Edition</p>
            </div>
        </div>
    </div>
</div>

<div id="articles">
    {{#each articles}}
    <div class="row">
        <div class="col col-md-10">
            <div class="card-panel">
                <h4><a href="{{this.link}}">{{this.title}}</a></h4>
                <form class = "form in-line" action = "/submit/{{this._id}}" name="_METHOD" value="PUT">
                    <button data-id={{this._id}} type="submit" name="_METHOD" value="PUT" class= "btn btn-success">Save Article</button>
                </form>
            </div>
        </div>
    </div>
    {{/each}}
</div>