<div class="row">
    <div class="jumbotron text-center">
        <div class="overlay">
            <div class="background-image"></div>
            <div class="caption">
                <h1>Mongo Scraper</h1>
                <p>Democracy Now Edition</p>
            </div>
        </div>
    </div>
</div>

<div id="articles">
    {{#each articles}}
    <div class="row">
        <div class="col col-md-10">
            <div class="card-panel">
                <h4><a href="{{this.link}}">{{this.title}}</a></h4>
                <a href="/saved/{{this._id}}" class="btn btn-primary" id="saveBtn" method="POST">Save Article</a>
            </div>
        </div>
    </div>
    {{/each}}
</div>